<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app-wrapper">
        <div id="root" @click="toggleMenu($event)">
            <div id="chat-list-col">
                <div class="ui-bar" id="chat-list-options">
                    <div class="user-thumb">
                        <div class="thumbnail">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="user-name">
                            Sofia
                        </div>
                    </div>
                    <div class="top-buttons">
                        <div class="icon">
                            <i class="fas fa-circle-notch"></i>
                        </div>
                        <div class="icon">
                            <i class="fas fa-comment-alt"></i>
                        </div>
                        <div class="icon">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                </div>
                <div id="notification-cta" >
                    <div class="thumbnail">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div id="cta-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p><a href="#">Attiva notifiche desktop</a></p>
                    </div>
                </div>
                <div id="chat-filter">
                    <label for="filter-input" class="search-btn">
                        <div class="icon">
                            <i class="fas fa-search"></i>
                        </div>
                    </label>
                    <input type="text" id="filter-input"
                    v-model="chatListFilter" 
                    @keyup="toggleVisible"
                    placeholder="Cerca o inizia una nuova chat">
                </div>
                <div id="chat-list">
                    <div class="chat-li"
                    v-for="(contact, index) in contacts"
                    v-if="contact.visible === true"
                    :class="{active: index === currentChat}"
                    @click="switchCurrentChat(index)"
                    >
                        <div class="thumbnail">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        </div>
                        <div class="chat-li-text">
                            <div class="chat-li-heading">
                                <div class="chat-li-name">{{contact.name}}</div>
                                <div class="chat-li-time">{{contact.messages.length > 0 ? contact.messages[contact.messages.length - 1].date : ''}}</div>
                            </div>
                            <div class="chat-li-lastmess">{{contact.messages.length > 0 ? contact.messages[contact.messages.length - 1].message : ''}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CHAT COLUMN (right) -->
            <div id="chat-col">
                <div class="ui-bar" id="chat-options">
                    <div class="user-thumb">
                        <div class="thumbnail">
                            <img :src="'img/avatar' + currentChatObj.avatar + '.jpg'" :alt="currentChatObj.name">
                        </div>
                        <div class="user-name">
                            {{currentChatObj.name}}
                            <div class="user-last-seen">
                                Ultimo accesso oggi alle 12:00
                            </div>
                        </div>
                    </div>
                    <div class="top-buttons">
                        <div class="icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="icon">
                            <i class="fas fa-paperclip"></i>
                        </div>
                        <div class="icon">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                </div>


                <div id="chat">
                    <div class="message-row"
                    v-for="(message, index) in currentChatObj.messages"
                    :class="message.status">
                        <div class="message">
                            {{message.message}}
                        <div class="msg-time">{{message.date}}</div>
                        <div class="msg-chevron" @click="toggleMenu($event,index)"></div>
                        <div class="msg-menu" v-if="index === contextMenu.index && contextMenu.show" @click="deleteMessage(index)">Delete message</div>
                    </div>
                    </div>
                    
                </div>


                <div class="ui-bar" id="input-bar">
                    <div class="input-buttons">
                        <div class="icon">
                            <i class="far fa-smile"></i>
                        </div>
                    </div>
                    <input
                        type="text" id="chat-input"
                        v-model="currentChatObj.currentInput"
                        @keyup.enter="sendMessage"
                        placeholder="Scrivi un messaggio">
                    <div class="input-buttons">
                        <div class="icon">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>

    <script src="https://unpkg.com/dayjs@1.11.2/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.11.2/plugin/customParseFormat.js"></script>
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>